@charset "UTF-8";
body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #d2dc9d url(images/blackgoose.png) no-repeat center 100px fixed;
}
h1 {
   text-align: center;
   text-transform: uppercase;
   border-bottom: 1px solid #57b1dc;
   margin-top: 30px;

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;

}
